// TYPOGRAPHY


.tt-upper {
    text-transform: uppercase !important;
}

.tt-lower {
    text-transform: lowercase !important;
}

.nott {
    text-transform: none !important;
}

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

.tar {
    text-align: right !important;
}
