{
    "extends" : ["stylelint-config-standard-less"],
    "files": {
        "include": "*.less",
        "ignore": ["node_modules/**"]
    },
    "rules": {
        "property-no-unknown": null
    }
}
