//////// FORMS  ///////
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="url"],
textarea {
    appearance: none;
    color: @fontcolor;
    padding: 0 15px;
    height: 50px;
    font-size: 1.6rem;
    font-family: @font;
    border: 2px solid #eee;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
    background-color: #eee;
    .rounded(0);
    .placeholder;

    &:focus {
        outline: none;
        border-color: shade(@color, 5%);
        color: shade(@color, 5%);
        background-color: #fff;
    }
}

input[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }
}

input[type="submit"] {
    height: 50px;
    background-color: @color;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    appearance: none;
    border: 0 none;
    padding: 0 15px;
    cursor: pointer;
    .rounded(0);

    &:hover {
        background-color: shade(@color, 5%);
    }
}

button {
    appearance: none;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    .rounded(0);
}

textarea {
    resize: vertical;
    padding: 10px;
    min-height: 150px;
}

label,
.label {
    display: block;
    color: @fontcolor;
    text-align: left;
    margin-bottom: 10px;

    em {
        display: block;
        color: #999;
        margin-top: 5px;
        text-transform: none;
        font-size: 1.33rem;
    }
}

////  CAPTCHA  /////
#captcha {
    margin-bottom: 20px;
    .flex(row,center,flex-start);

    img {
        min-width: 100px;
        height: auto;
        margin-right: 10px;
    }

    input[type="text"] {
        max-width: 190px;
        margin-bottom: 0;
    }

    a {
        height: 40px;
        width: 40px;
        margin-right: 20px;
        .flex(row,center,center);
    }

    #reload {
        height: 30px;
        width: 30px;
        .transition;

        cursor: pointer;

        path {
            fill: @color;
        }

        &:hover {
            .rotate(360deg);

            path {
                fill: @color2;
            }
        }
    }
} // captcha

////// BOUTONS CHECKBOX /////
.checkbox {
    position: relative;
    z-index: 1;

    label {
        font-family: @font;
        text-transform: none;
        display: flex;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            height: 20px;
            width: 20px;
            min-width: 20px;
            border: 2px solid #ddd;
            margin-right: 10px;
            padding-right: 15px;
        }

        &::after {
            position: absolute;
            left: 1px;
            top: 50%;
            margin-top: -2px;
            color: #fff;
            font-size: 1.4rem;
            .transition;
            .picto-font;

            content: @icon-check;
        }
    }

    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        border: 0 none;
        z-index: -1;
        appearance: none;
        outline: none;

        &:checked + label {
            &::before {
                border-color: @color;
                outline: none;
            }

            &::after {
                color: @color;
                outline: none;
            }
        }
    }
} // checkbox

///// LISTE DE BOUTONS RADIO
.list-radio {
    position: relative;
    z-index: 1;
    margin-bottom: 13px;

    li {
        margin-bottom: 5px;
    }

    input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        border: 0 none;
        z-index: -1;
        appearance: none;
        .rounded(50%);

        & + label {
            position: relative;
            display: flex;
            text-transform: none;
            font-family: @font;
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-color: #eee;
                .rounded(50%);
                .transition();
            }

            &::after {
                position: absolute;
                left: 6px;
                top: 6px;
                content: '';
                height: 8px;
                width: 8px;
                background-color: #eee;
                .rounded(50%);
                .transition();
            }
        }

        &:checked + label {
            font-weight: 700;

            &::before {
                border: 1px solid @color;
                background-color: #fff;
            }

            &::after {
                background-color: @color;
            }
        }
    }
} // list-radio

///// SELECT CUSTOM ////
.habillage {
    height: 50px;
    max-width: 250px;
    margin-bottom: 20px;
    position: relative;
    background-color: #ebebeb;
    flex-grow: 1;
    overflow: hidden;

    &::after {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background-color: @color;
        color: #fff;
        z-index: 99;
        .picto-font;
        .rotate(90deg);
        //content: @icon-next;
    }

    select {
        position: absolute;
        left: 0;
        top: 0;
        appearance: none;
        background-color: transparent;
        text-overflow: '';
        border: 0 none;
        font-family: inherit;
        font-size: 1.4rem;
        height: 100%;
        width: 250px;
        padding-left: 15px;
        z-index: 100;
    }
} // habillage

.input-file {
    width: auto;
    max-width: 300px;

    label {
        cursor: pointer;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 400;
    }

    i {
        font-size: 2.5rem;
        margin-right: 5px;
        font-weight: 300;
    }

    input {
        display: none;
    }

    .file-selected {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: left;
        padding: 0;
        margin-bottom: 0;
        margin-top: 15px;
        position: relative;

        &:not(:empty) {
            background-color: tint(@color3, 70%);
            margin-bottom: 20px;
            padding: 10px;

            &::before {
                content: "Fichier sélectionné : ";
                display: block;
                font-style: italic;
                font-weight: 300;
                color: @black;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 15px;
                top: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 12px 10px 12px;
                border-color: transparent transparent tint(@color3, 70%) transparent;
            }
        }
    } // .file-selected
} // .input-file
