// VAR

@fontcolor: #222;
@black: #000;

@color: rgb(6,58,117); // bleu
@color2: rgb(84,211,188); // jaune
@color3: rgb(155,201,198);  // bleu

// STYLESET
@height-item: 50px;
@rounded-item: 25px;

// FONTS
@font: "Helvetica", "Arial", sans-serif;
@font2: "Times", "Times New Roman", serif;

@picto-font: "startr";
@hash-icomoon: "dxdo0r";

// UI
@valid: #4da652; // Vert
@alert: #c31616; // rouge alerte
@warning: #f58e28; // orange

// SOCIAL COLORS
/* stylelint-disable */
@socials: {
    facebook: #3a5795;
    twitter: #55acee;
    pinterest: #bd2126;
    instagram: #f24966;
    linkedin: #0077b5;
    youtube: #ff0000;
    tumblr: #34465d;
};
/* stylelint-enable */

// PICTO FONT
@icon-instagram: "\e90b";
@icon-pinterest: "\e90c";
@icon-check: "\e903";
@icon-close: "\e935";
@icon-select: "\e927";
@icon-prev: "\e914";
@icon-next: "\e913";
@icon-search: "\e933";
@icon-facebook: "\e900";
@icon-twitter: "\e901";
@icon-linkedin: "\e902";

// RESPONSIVE //

@desktop-wide: ~"screen and (max-width: 1499px)";
@desktop: ~"screen and (max-width: 1199px)";
@laptop: ~"screen and (max-width: 999px)";
@tablet: ~"screen and (max-width: 767px)";
@mobile: ~"screen and (max-width: 639px)";

@only-desktop-wide: ~"screen and (min-width: 1200px) and (max-width: 1499px)";
@only-desktop: ~"screen and (min-width: 1000px) and (max-width: 1199px)";
@only-laptop: ~"screen and (min-width: 768px) and (max-width: 999px)";
@only-tablet: ~"screen and (min-width: 640px) and (max-width: 768px)";

@desktop-full: ~"screen and (min-width: 768px) and (max-width: 1199px)";
@mid-tablet: ~"screen and (max-width: 700px)";
@no-tablet: ~"screen and (min-width: 768px)";
