/////// HEADER //////

header {
    // set syle header here

    @media print {
        display: none;
    }
} // header

// MAIN NAV //

.main-nav {
    // MAIN NAV
}

.menu {
    @media @tablet {
        display: block;
    }

    &.showing-nav {
        display: flex;
    }
} // .menu

.toggle-nav {
    display: none;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 55px;
    background-color: #fff;
    margin: auto;
    flex-grow: 1;

    @media @tablet {
        display: block;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        display: block;
        width: 20px;
        height: 3px;
        background-color: @color;
        .rotate(0);

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 3px;
            background-color: @color;
            transform: translateY(-6px);
            .transition;
        }

        &::after {
            transform: translateY(0);
            top: 6px;
        }

        .menu-open& {
            background-color: #fff;

            &::before {
                .rotate(-45deg);
            }

            &::after {
                .rotate(45deg);
                .origin(24px -4px);
            }
        } // .menu-open
    }
} // .toggle-nav
