// HELPERS

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

.tar {
    text-align: right !important;
}

.spacing(@val-h : 100px, @val-w: 0) {
    padding: @val-h @val-w;
}

each(range(10, 100, 10), {
    .mb@{value} {
        margin-bottom: (@value * 1px) !important;
    }
});

.hide {
    display: none !important;

    each(@breakpoints, {
        &-@{key} {
            @media @value {
                display: none !important;
            }
        }
    });
}
