// HELPERS

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

.tar {
    text-align: right !important;
}

.spacing(@val : 100px) {
    padding-top: @val;
    padding-bottom: @val;
}

each(range(100), {
    .mb@{value} {
        margin-bottom: @value;
    }
});
