// VAR

// UI
@info: #5cacf0; // bleu
@success: #4da652; // Vert
@warning: #f58e28; // orange
@alert: #c31616; // rouge alerte

// SOCIAL COLORS
/* stylelint-disable */
@socials: {
    facebook: #1877f2;
    x: #000;
    pinterest: #bd2126;
    instagram: #f24966;
    linkedin: #0077b5;
    youtube: #ff0000;
    tiktok: #000;
    tumblr: #34465d;
    vimeo: #1ab7ea;
    whatsapp: #25d366;
};
/* stylelint-enable */

// RESPONSIVE //
@desktop-xxl: ~'screen and (max-width: 1770px)';
@desktop-wide: ~"screen and (max-width: 1449px)";
@desktop: ~"screen and (max-width: 1199px)";
@laptop: ~"screen and (max-width: 1023px)";
@tablet: ~"screen and (max-width: 767px)";
@mobile: ~"screen and (max-width: 639px)";
@xmobile: ~"screen and (max-width: 479px)";

@only-desktop-xxl: ~"screen and (min-width: 1920px)";
@only-desktop-wide: ~"screen and (min-width: 1200px) and (max-width: 1499px)";
@only-desktop: ~"screen and (min-width: 1000px) and (max-width: 1199px)";
@only-laptop: ~"screen and (min-width: 768px) and (max-width: 999px)";
@only-tablet: ~"screen and (min-width: 640px) and (max-width: 768px)";

@desktop-full: ~"screen and (min-width: 768px) and (max-width: 1199px)";
@mid-tablet: ~"screen and (max-width: 700px)";
@no-tablet: ~"screen and (min-width: 768px)";
